.movie-card {
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  margin: 10px;
  max-width: 300px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-body {
  padding: 1.25rem;
}

.card-subtitle {
  color: #6c757d;
}

.text-justify {
  font-size: 14px;
  text-align: justify;
}