.container {
  background-color: #3c3c3c;
  margin-bottom: 20px;
}

.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.title-icon {
  margin: 0 10px;
  vertical-align: middle;
}