.homeContainer {
  padding: 20px;
  text-align: center;
}

.homeTitle {
  color: #b48608;
  font-family: "Great Vibes", cursive;
  font-size: 70px;
  line-height: 70px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

.homeText {
  color: #7a7c7f;
  font-size: 30px;
  font-family: "Libre Baskerville", serif;
  line-height: 45px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  padding-top: 20px;
}